body * {
	box-sizing: border-box;
	font-family: 'Permanent Marker', cursive;
	margin-left: 0
	margin-right: 0;
}
#splash-modal, #clear-prompt-modal {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 6;
	background: rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#clear-prompt-modal {
	display: none;
	flex-direction: column;
	width: 100%;
}

#clear-prompt-modal h1 {
	font-size: 3em;
}

#clear-prompt-modal div {
	font-family: 'Bree Serif', serif;
	display: flex;
	justify-content: space-around;
}

#clear-prompt-modal div div {
	padding: 1em;
	border: 5px solid black;
	border-radius: 0.5em;
	width: 4em;
	margin: 1em;
	font-size: 2em;
	font-weight: bold;
}

#clear-prompt-modal div div:nth-child(1) {
	background: #bd957f;
}

#clear-prompt-modal div div:nth-child(2) {
	background: #7fa7bd;
}
#splash *:not(h1){
	font-family: 'Bree Serif', serif;
}
#splash img {
	height: 5em;
}
#splash h1 {
	padding-top: 0;
	line-height: 0;
}
#splash h3:first-child {
	line-height: 0;
}
#splash-logo {
	font-size: 5em;
}
#start-button {
	font-size: 3em;
	border: 10px solid black;
	border-radius: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.15s;
	font-weight: bold;
}
#start-button:hover {
	background: red;
	cursor: pointer;
}
.colorchange-hover-red:hover {
	animation: flash-red linear 3s infinite;
}
.colorchange-hover-green:hover {
	animation: flash linear 3s infinite;
}
.colorchange {
	animation: flash linear 3s infinite;
}
.colorchange:hover {
	animation: none;
}
@keyframes flash {
	0% { background: lightgreen; }
	25% { background: green; }
	50% { background: green; }
	100% { background: lightgreen}
}
@keyframes flash-red {
	0% { background: red; }
	25% { background: orange; }
	50% { background: orange; }
	100% { background: red; }
}
#container {
	width: 100%;
}
#canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}
canvas:hover { cursor: crosshair; }
#circle-img{
	border: 3px solid black;
	border-radius: 50%;
	background: white;
}
#square-img{
	border: 3px solid black;
	background: white;
}
.brush-type {
	box-sizing: border-box;
	background: white;
	margin: 0.25em;
	padding: 0.5em;
	border-radius: 1em;
	border: 5px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brush-type div, .brush-type img {
	width: 3em;
	height: 3em;
}
#brush-types {
	display: flex;
	justify-content: center;
}
#top-gui {
	width: 100%;
}

#bottom-gui-container, #top-gui-container {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	background: black;
	z-index: 5;
	left: 0;
}
#bottom-gui-container {
	bottom: 0;
	background: #bd957f;
	padding: 0.5em;
}
#top-gui-container {
	background: #7fa7bd;
	top: 0;
	padding: 0.5em;
 }
#size-container {
	margin-left: 1em;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	font-size: 1.25em;
	border-radius: 1em;
}
#size {
	display: flex;
	align-items: center;
	background: white;
	border-radius: 0em 0em 1em 1em;
}

#size-labels {
	display: flex;
	justify-content: center;
	border-bottom: 5px solid black;
	padding: 0;
	background: white;
	border-radius: 1em 1em 0em 0em;
}

#size-labels p {
	margin: 0;
}

#small {
	border: 0.5em solid black;
	border-radius: 50%;
	height: 0;
	width: 0;
}
#large {
	border: 1em solid black;
	border-radius: 50%;
	height: 0;
	width: 0;
}

#file-options {
	display: flex;
}

#bottom-gui, #top-gui {
	display: flex;
	justify-content: center;
}

.gui-color {
	width: 4em;
	height: 4em;
	margin: 0.25em;
	border-radius: 50%;
}

#bottom-gui .selected, .gui-color:hover {
	border: 5px solid white;
	cursor: pointer;
}
#top-gui .selected, .brush-type:hover {
	border: 5px solid black;
	cursor: pointer;
}

#white.selected, #white:hover { border: 5px solid black; }

#red { background: red }
#blue { background: blue }
#white { background: white }
#black { background: black }
#yellow { background: yellow }
#green { background: green }
#orange { background: orange }
#purple { background: purple }
