#container {
	width: 100%;
	border: 1px solid green;
}
#canvas {
	border: 1px solid black;
	width: 100%;
}
#bottom-gui {
	border: 1px solid red;
}

.gui-color {
	width: 100px;
	height: 100px;
}
#red {
	background: red
}
#blue {
	background: blue
}
#white {
	background: white
}
#black {
	background: black
}
#yellow {
	background: yellow
}
#green {
	background: green
}
#orange {
	background: orange
}
#purple {
	background: purple
}
