body * {
	box-sizing: border-box;
}
#container {
	width: 100%;
}
#canvas {
	border: 1px solid black;
	width: 100%;
}
canvas:hover {
	cursor: crosshair;
}
.brush-type {
	background: white;
	margin: 0.25em;
}
#brush-types {
	display: flex;
	justify-content: center;
	width: 100%;
}
#top-gui {
	width: 100%;
}

#bottom-gui-container, #top-gui-container {
	display: flex;
	justify-content: center;
	background: black;
}

#bottom-gui, #top-gui {
	display: flex;
	justify-content: center;
}

.gui-color {
	width: 4em;
	height: 4em;
	margin: 0.25em;
	border-radius: 50%;
}

.selected {
	border: 5px solid white;
}

#red {
	background: red
}
#blue {
	background: blue
}
#white {
	background: white
}
#black {
	background: black
}
#yellow {
	background: yellow
}
#green {
	background: green
}
#orange {
	background: orange
}
#purple {
	background: purple
}
